a{
    color: #000;
}

.trading-volume {
    width: 68.6%;
    margin: 0 auto;
}

.trading-title {
    font-size: 0.32rem;
    padding-top: 0.5rem;
    padding-bottom: 0.4rem;
    color: #000;
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}
.cspas {
    margin-bottom: 20px;
    font-size: 0;
}

.cspa {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 24.5%;
    height: 2.65rem;
    vertical-align: middle;
    margin: 0 2px 2px 0;
    border: 1px solid #BCBCBC;
    box-sizing: content-box;
}
.cspas .cspa-top{
    height: 1.75rem;
    margin: 0;
    padding-left: 15%;
    padding-top: 20px;
    background: #FFFFFF;
}
.cspas .cspa-top > * {
    position: relative;
}
@media (max-width: 820px) {
    .cspa {
        width: 33.3%
    }
}

@media (max-width: 640px) {
    .cspa {
        width: 50%
    }
}

@media (max-width: 400px) {
    .cspa {
        width: 100%
    }
}


.cspa > * {
    position: relative;
    margin-bottom: 10px;
}

.cspa .chart {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    width: auto;
    height: auto;
    margin-bottom: 0;
}

.cspa .group{
    font-size: 12px;
    color: #FFFFFF;
}
.cspa .group > * {
    display: inline-block
}

.cspa .code {
    color: #FFF;
    font-size: 13px;
    margin-left: 5px;
}

.cspa .name {
    font-size: 13px;
    color: #FFF;
}

.cspa .price {
    font-size: 12px;
}
.cspa .numberPrice{
    font-size: 0.63rem;
    line-height: 52px;
    margin-top: -5px;
}
.numberDown{
    margin-left: 15px;
}
.cspa .change {
    font-size: 13px;
}

.cspa .logo {
    position: absolute;
    overflow: hidden;
    top: 1.53rem;
    right: 6px;
    width: 30px;
    height: 30px;
    z-index: 11;
}

.cspa .logo > img {
    width: 100%
}

.cspa .volume {
    color: #fff;
    font-size: 12px;
}

.cspa .volume .data {
    color: #FFF;
    font-size: 13px;
}

.markets {
    background-color: #000;
    height: 57px;
}

.market {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 230px;
    height: inherit;
    padding: 15px 0;
    padding-left: 20px;
    border-right: 1px solid #f3f3f3;
    background-color: #1A2959;
    color: #b4b4b4;
}

.market:hover {
    background-color: #282828
}

.market > .group > * {
    display: inline-block
}

.market .exchange-name {
    margin-left: 30px;
    color: #6e8296;
    font-size: 12px
}

.market .price {
    color: #fff
}

.cspa .change .number {
    font-size: 0.24rem;
    margin-right: 10px;
    color: #00B43C;

}
.cspa .change .numberColor{
    color: #F54C24;
}
.arrow-top{
    width:0;
    height:0;
    border: 6px solid transparent;
    border-bottom-color: #00B43C;
    position:absolute;
    content:'';
    margin-top:1px;
}
.arrow-bottom{
    width:0;
    height:0;
    border: 6px solid transparent;
    border-top-color:  #F54C24;
    position:absolute;
    content:'';
    margin-top: 7px;
}

.market .change .numberPrice {
    display: none
}

.market .group-l {
    font-size: 18px;
}

.market .group-r {
    margin-top: 5px;
}

.view {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100px;
}

.trading-scroll {
    width: 2000px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    /* animation: move 5s linear infinite; */
}

.trading-scroll:hover {
    /*调整动画状态*/
    animation-play-state: paused;
}

.global-share ul {
    margin-left: -40px;
}

.global-share span {
    font-size: 16px;
    display: inline-block;
}

.global-share .icon {
    font-size: 40px;
    width: 50px;
}

.global-share .name {
    font-size: 22px;
    width: 60px;
}

.global-share .name-full {
    width: 160px;
}

.global-share .ranking {
    text-align: center;
    display: inline-block;
    background: #DB2B37;
    color: #fff;
    font-size: 20px;
    padding: 5px 13px;
    margin-right: 15px;
}

.exchange-ranking {
   font-size: 0.16rem;
    margin-bottom: 1.2rem;
}


.exchange-ranking .col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}

.exchange-ranking .ranking-list {
    border-bottom: 1px solid #e4e4e4;
    padding:0.16rem 0;
}
.exchange-ranking .rankR .ranking-list{
    padding-left: 0.2rem;
}
.exchange-ranking .ranking-list div {
    display: table-cell;
}

.exchange-ranking .ranking-num {
    width: 0.45rem;
}

.exchange-ranking .ranking-icon {
    width: 25px;
}

.exchange-ranking .ranking-name {
    width: 85px;
}

.exchange-ranking .ranking-value {
    color:  #707070;
}
.numColor{
    color: #207EFA;
}
.ranking-icon img{
    vertical-align: bottom;
}

@media (max-width: 480px) {
    .trading-volume{
        width: 90%;
    }
    .con_title{
        width: 89% !important;
    }
    .exchange-ranking .exchange-ranking-con{
        width: 90% !important;
    }
    .exchange-ranking .row{
        margin: 0;
    }
    .cspa{
        height: 8.5rem;
        width: 100%;
        margin-bottom: 0.6rem;
    }
    .trading-title{
        font-size: 0.8rem;
    }
    .cspas .cspa-top{
        height: 5.5rem;
    }
    .capa_bot{
        height: 3rem !important;
        padding: 13px 0 0 20px !important;
    }
    .cspa .numberPrice{
        font-size: 2rem;
    }
    .change .cange_rise{
        font-size: 0.76rem !important;
    }
    .cspa .change .number{
        font-size: 0.8rem;
    }
    .cspa .volume,
    .cspa .group{
        font-size: 0.7rem;
    }
    .cspa .logo{
        top: 4.8rem;
    }
    .exchange-ranking .rankR .ranking-list{
        padding-left: 0;
    }
    .exchange-ranking .ranking-list {
        padding: 0.7rem 0;
    }
    .exchange-ranking {
        font-size: 0.66rem;
    }
    .exchange-ranking .ranking-num {
        width: 0.9rem;
    }
    .exchange-ranking .ranking-name {
        width: 75px;
    }
    .advert1{
        height: 7rem !important;
    }
}
