.data-view{
    width: 100%;
    background: #21336E;
    text-align: center;
    height: 9.6rem;
}

.view-tottle{
    position: absolute;
    top: 97px;
    left: 50%;
    margin-left: -135px;
    z-index: 99;
}
.view-tottle li{
    margin-right:0.2rem;
    cursor: pointer;
    float: left;
    width: 0.45rem;
}
.view-tottle li.active{
    width: 0.6rem;
    margin-top: -6px;
}
.view-tottle li img{
    width: 100%;
}
.content {
    width: 76%;
    margin: 0 auto;
}
.data-view .data-vlue {
    font-size: 1.5rem;
    color: #fff;
   margin-bottom: 60px;
}
.data-view .data-number{
    font-size:0.66rem;
    color: #fff;
    margin-bottom:60px;
}
.data-view-percent{
    font-size: 0.54rem;
}
.data-view .col-lg-4{
    text-align: right;
    padding-right: 0;
}
.data-val-top{
    font-family: Helvetica Neue;
    font-size: 0.32rem;
    color: #FFFFFF;
}
.currency_container{
    padding: 0 10px;
    background: #FFFFFF;
}
.currency_container .data_item{
    width: 25%;
    color: #333;
    display: inline-block;
    font-size: 0.23rem;
}
.currency_container .data_item div{
    float: left;
    padding: 10px;
    width: 50%;
}
.currency_container .data_item .price{
    float: right;
}
.data-line ,.data-candlestick {
    width: 100%;
    height: 9.6rem;
    background: #041038;
    display: none;
}
#charts-candlestick{
    position: absolute;
    left: 0;
    top: 4rem;
}
.line-data{
    top: 50%;
    position: absolute;
    margin-left: 10px;
    line-height: 30px;
    font-size: 14px;
}
/*下箭头*/
.down-arrow {
    display :inline-block;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 20px;
}

.down-arrow::after {
    display: inline-block;
    content: " ";
    height: 18px;
    width: 18px;
    border-width: 0 2px 2px 0;
    border-color: #F54C24;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform-origin: center;
    transition: transform .3s;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -15px;
}
/*加上active旋转成 上箭头*/
.down-arrow.active::after {
    transform-origin: center;
    transform: rotate(-135deg);
    transition: transform .3s;
    border-color: #00B43C;
    margin-top: -10px;
}
