body {
    background: #FFFFFF;
}
p{
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
.contain {
    width: 63.6%;
    margin: 0 auto;
}

.news_container {
    margin-top: 0.85rem;
}

.news_container .news_con_left{
    border: 1px solid #e4e4e4;
    border-radius: 0.02rem;
    padding: 0;
}

.list-group-item {
    padding: 10px 6px;
}
.news_container .news_con_right {

    padding: 0;
}
.news_container .news_con_left {
    float: left;
    margin-bottom: 1.4rem;
}

.news_container .news_con_right {
    width: 27%;
    float: right;
}

.news_con_left .post_category {
    font-size: 0.12rem;
    color: #999999;
    cursor: pointer;
}

.news_con_left .post_header {
    padding: 0.25rem;
}
.news_con_left .post_meta{
    font-size: 0.12rem;
}
.news_con_left .post_title {
    font-size: 0.32rem;
    padding-top: 0.15rem;
    padding-bottom: 0.75rem;
}
.news_con_left .post_meta_itrem{
    margin-right: 1.3%;
    cursor: pointer;
}
.post_icon1, .post_icon2 ,.post_icon3, .post_icon4,.post_icon5, .post_icon6{
    width: 0.24rem;
    height: 0.24rem;
    display: inline-block;
    margin-right: 0.07rem;
}

.post_icon1 img{
    width: 100%;
    border-radius: 50%;
}
.news_con_left .post_header .post_icon2 {
    width: 0.15rem;
    height: 0.15rem;
    background: url("../../img/new_icon2.png") no-repeat center;
    background-size: cover;
}

.news_con_left .post_header .post_icon3 {
    width: 0.11rem;
    height: 0.15rem;
    background: url("../../img/new_icon3.png") no-repeat center;
    background-size: cover;
}

.news_con_left .post_header .post_icon4 {
    width: 0.15rem;
    height: 0.15rem;
    background: url("../../img/new_icon4.png") no-repeat center;
    background-size: cover;
}

.news_con_left .post_icon5 {
    background: url("../../img/new_share_icon_f.png") no-repeat center;
    background-size: cover;
    vertical-align: sub;
}
.news_con_left .post_icon6 {
    width: 0.24rem;
    height: 0.2rem;
    background: url("../../img/new_share_icon_t.png") no-repeat center;
    background-size: cover;
    vertical-align: sub;
}
.post_header .post_featured{
    width: 100%;
    height: 3.24rem;
}
.news_con_left .post_desc{
    font-size: 0.18rem;
    line-height: 150%;
    padding:0.6rem 0.35rem 1.25rem 0.35rem

}
.news_con_left .post_desc h2{
    margin-top: 40px;
}
.post_desc img{
    height: auto !important;
}
.news_con_left .post_list,.news_con_left .post_content_tip{
    line-height: 200%;
}
.news_con_left .post_content{
    font-size: 0.18rem;
    margin: 0.85rem 0.6rem 0 0.6rem;

}
.post_content .post_list_con{
    margin-bottom: 0.57rem;
}
.post_content .post_content_tip{
    margin-top: 0.65rem;
    margin-bottom: 0.55rem;
}
.post_tags .tags_title{
    font-size: 0.14rem;
    padding: 0.1rem 0;
}
.post_tags .tags_name span{
    height: 25px;
    display: inline-block;
    line-height: 25px;
    background: #E5E5E5;
    font-size: 0.12rem;
    color: #FFFFFF;
    text-align: center;
    margin-right: 0.2rem;
    border-radius: 0.13rem;
    padding: 0 0.2rem;
}
.news_con_left .post_advert{
    width: 100%;
    padding: 0.07rem 0;
    border-top: 1px solid #e4e4e4;
    margin-top: 0.29rem;
}
.news_con_left .advert_share{
    float: right;
    font-size: 0.12rem;
    color: #AAAAAA;
}
.news_con_left .advert_share .post_meta_itrem{
    width: 2.1rem;
    height: 0.5rem;
    display: inline-block;
    line-height: 0.5rem;
    border:1px solid rgba(228,228,228,1);
    padding-left: 0.23rem;
    margin-right: 0;
    float: left;
}
.news_comment{
    border:1px solid rgba(228,228,228,1);
    margin-top: 0.37rem;
    border-radius: 0.05rem;
    font-size: 0.14rem;
    padding-top: 10px;
}
.news_comment .comment_header{
    padding: 0.14rem 0.2rem;
    border:1px solid rgba(228,228,228,1);
}
.comment_item_header div{
    float: left;
    font-size: 0.18rem;
    line-height: 26px;
}
.comment_tab{
    float: right;
}
.comment_tab li{
    float: left;
    color: #8C96AB;
    margin-left: 0.38rem;
    cursor: pointer;
}
.comment_tab li span{
    width: 0.16rem;
    height: 0.1rem;
    display: inline-block;
    background:url("../../img/comment_sort_icon.png") no-repeat center;
    background-size: cover;
    margin-right: 0.05rem;
}
.comment_list{
    padding: 0 0.23rem 0;
}
.comment_list li{
    padding: 0.16rem 0 0.25rem 0;
    border-bottom:1px solid rgba(228,228,228,1);
}
.comment_list .comment_headpic{
    width: 26px;
    height: 26px;
    margin-right: 0.08rem;
    border-radius: 50%;
}
.reply_input{
    display: none;
}
.prise_icon,.view_icon,.reply_icon{
    width: 0.16rem;
    height: 0.14rem;
    display: inline-block;
    margin-right: 0.08rem;
}
.prise_btn,.view_btn,.reply_btn{
    margin-right: 0.27rem;
}
.prise_icon{
    background:url("../../img/prise_icon.png") no-repeat center;
    background-size: cover;
}
.view_icon{
    background:url("../../img/view_icon.png") no-repeat center;
    background-size: cover;
}
.reply_icon{
    background:url("../../img/reply_icon.png") no-repeat center;
    background-size: cover;
}
.news_comment .comment_con{
    width: 83.84%;
    font-size: 0.18rem;
    padding: 0.15rem 0;
}
.news_comment .comment_list li:last-child{
    border: none;
}
.news_comment .reply_con{
    padding: 0 0.23rem;
    margin-top: -5px;
}

.news_comment .reply_con input{
    width: 100%;
    font-size: 0.18rem;
    height: 0.39rem;
    color:rgba(140,150,171,1);
    border:1px solid rgba(228,228,228,1);
    border-radius: 0.05rem;
    padding-left: 0.15rem;
}
.reply_con .reply_con_btn{
    float: right;
    font-size: 0.18rem;
    margin: 0.2rem 0 0.44rem 0;
}
.reply_con_btn .cancle_btn{
    color: #8C96AB;
    cursor: pointer;
}
.reply_con_btn .comment_btn{
    color: #FFFFFF;
    width: 0.63rem;
    height: 0.4rem;
    display: inline-block;
    line-height: 0.4rem;
    background: #90C2FF;
    text-align: center;
    margin-left: 0.21rem;
    border-radius: 0.04rem;
    cursor: pointer;
}
.news_contain .news_header{
    padding-left: 0.15rem;
    height: 1.5rem;
    line-height: 1.52rem;
    font-size: 0.32rem;
    color: #000000;
}
.news_contain .benefit_box{
    height: 122px;
    margin-bottom: 0.3rem;
    padding: 0 0.07rem;
}

.p20{
    padding:0 0.2rem ;
}
.news_contain .benefit_box_tit{
    font-size: 0.12rem;
    color: #928F92;
}
.news_contain .benefit_box_com{
    font-size: 0.18rem;
    color: #111118;
}
.news_contain .benefit_box_from{
    font-size: 0.14rem;
    color: #757575;
}

.news_contain .news_tit{
    margin-top: 0.1rem;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 180%;
}
.news_contain{
    border:1px solid rgba(228,228,228,1);
    margin-top: 0.6rem;
    padding: 0.48rem 0.08rem 0.25rem 0.08rem;
    border-radius: 0.05rem;
    margin-bottom: 0.6rem;
}
.p10{
    padding: 0 0.1rem;
}
#ml_container {
    padding: 20px 30px 0 30px;
}

.ml {
    display: inline-block;
    padding: 1px 25px;
    text-align: center;
    background: #f0f0f0;
}

.ml>div {
    display: block
}

.ml .pri-name {
    margin-top: 7px;
    font-weight: 600;
    letter-spacing: 2px;
}



.ml .pri-code-list {
    margin-bottom: 2px;
    font-size: 16px;
}

.ml .src-desc,
.ml .volume-desc {
    display: inline-block;
    margin-bottom: 7px;
    padding: 0 7px;
    font-size: 12px;
}

.ml .volume {
    margin-top: -6px;
    margin-bottom: 12px;
    font-size: 16px;
}
.market-list .media{
    padding-right: 5px;
}
.news_con_right{
    font-size: 0.12rem;
}
.news_con_right .hot_icon{
    width: 15px;
    height: 11px;
    display: inline-block;
    background: url("../../img/hot_icon.png") no-repeat center;
    background-size: cover;
    margin-right: 0.15rem;
}
.news_con_right .time_icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../../img/icon_time_r.png") no-repeat center;
    background-size: cover;
    margin-right: 0.15rem;
    vertical-align: middle;
}

.media-left img{
    border-radius: 0.05rem;
}
.hot_posts_title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container {
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 56.25%;
 }
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (max-width: 480px) {
    .contain{
        width: 90%;
    }
    .news_con_left {
        width: 100%;
    }
    .news_con_left .post_category{
        font-size: 0.57rem;
        cursor: pointer;
    }
    .news_con_left .post_title{
        font-size: 0.85rem;
    }
    .post_icon1, .post_icon2 ,.post_icon3, .post_icon4{
        width: 0.7rem !important;
        height: 0.7rem !important;
        display: inline-block;
        margin-right: 0.07rem;
    }
    .post_icon1{
        width: 0.8rem !important;
        height: 0.8rem !important;
    }
    .post_icon1 img {
        vertical-align: sub;
    }
    .post_meta_share{
        display: none;
    }
    .news_container .news_con_left{
        border: none;
    }
    .news_con_left .post_meta{
        margin-bottom: 0.3rem;
    }
    .post_featured{
        height: 8.4rem;
    }
    .news_con_left .post_meta_itrem {
        margin-right: 4%;
    }
    .news_con_left .advert_share{
        float: none;
        margin-top: 20px;
    }
    .news_con_left .advert_share .post_meta_itrem{
        width: 50%;
        text-align: center;
        height: 2rem;
        line-height: 2rem;
    }
    .advert_share .post_meta_itrem .post_icon5{
        width: 1rem;
        height:1rem;
        margin-right: 10px;
        vertical-align: middle;
    }
    .advert_share .post_meta_itrem .post_icon6{
        width: 0.8rem;
        height:0.8rem;
        margin-right: 10px;
        vertical-align: middle;
    }
    .news_con_left .post_advert{
        height: 8rem;
    }
    .post_tags .tags_name span{
        padding: 0 0.6rem;
        border-radius: 15px;
    }
    .reply_con_btn .comment_btn{
        width: 30px;
        height: 20px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    .contain{
        width: 90%;
    }
    .news_con_left {
        width: 100%;
    }

}
@media (min-width: 992px) {
    .contain{
        width: 80%;
    }
    .news_con_left {
        width: 68.9%;
    }
}
@media (min-width: 1200px) {
    .contain{
        width: 63.6%;
    }
    .news_con_left {
        width: 68.9%;
    }
}
.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover{
     transform: none !important;
     color: initial !important;
     text-decoration: none;
 }
.at-icon {
    fill:#FFF !important;
    background: #A4C2DD;
}
.advert_share  .at-style-responsive .at-share-btn{
    border:1px solid rgba(228,228,228,1);
    padding-left: 15px;
}

.advert_share  .at-style-responsive .at-svc-facebook{
    border-right: none;
    margin-right: 0 !important;
}
.advert_share  .at-style-responsive .at-svc-twitter{
    margin-left: 0 !important;
}
.at-resp-share-element.at-mobile .at4-share-count-container, .at-resp-share-element.at-mobile .at-label{
    display: inline-block !important;
}
.more_btn{
    text-align: center;
    margin-bottom: 10px;
    color: #90C2FF;
    cursor: pointer;
}